@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
    height: 100%; /* 또는 원하는 높이 값 */
    width: 100%; /* 또는 원하는 너비 값 */
}

.mySwiper img {
    @apply h-full w-full object-cover;
}

.text-background {
    /* Create a gradient that fades from transparent to white */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
